h1{
    text-align: center;
    color: white;
}
body{
    background-color: black;
}
div{
    background-color: gray;
    width: 100px;
    height: 140px;
    margin-left: 318px;
}
#a{
    background-color: blueviolet;
    width: 100px;
    height: 140px;
    margin-left: 110px;

}
#b{
    background-color: red;
    width: 100px;
    height: 140px;
    margin-left: 221px;
    margin-top: -139px;
}
#c{
    background-color:greenyellow;
    width: 100px;
    height: 140px;
    margin-left: 330px;
    margin-top: -139px;
    
}
#d{
    background-color:plum;
    width: 100px;
    height: 140px;
    margin-left: 438px;
    margin-top: -139px;

}
#e{
    background-color:orange;
    width: 100px;
    height: 140px;
    margin-left: 205px;
    margin-top: 18px;
}
#f{
    background-color:yellow;
    width: 100px;
    height: 140px;
    margin-left: 113px;
    margin-top: 18px;
}
#g{
    background-color:purple;
    width: 100px;
    height: 140px;
    margin-left: 224px;
    margin-top: -139px;
}
#h{
    background-color:white;
    width: 100px;
    height: 140px;
    margin-left: 224px;
    margin-top: -139px;
}
#i{
    background-color:darkorchid;
    width: 100px;
    height: 140px;
    margin-left: 337px;
    margin-top: -139px;

}
#j{
    background-color:red;
    width: 100px;
    height: 140px;
    margin-left: 448px;
    margin-top: -139px;

}
#k{
    background-color:navajowhite;
    width: 100px;
    height: 140px;
    margin-left: 557px;
    margin-top: -139px;
}
#l{
    background-color:mediumvioletred;
    width: 100px;
    height: 140px;
    margin-left: 669px;
    margin-top: -139px;
}
#m{
    background-color:navy;
    width: 100px;
    height: 140px;
    margin-left: -111px;
    margin-top: 2px;
    

}
#n{
    background-color:gainsboro;
    width: 100px;
    height: 140px;
    margin-left: 5px;
    margin-top: -139px;

}
#o{
    background-color:rosybrown;
    width: 100px;
    height: 140px;
    margin-left: 225px;
    margin-top: -137px;
}


#p{
    background-color:aquamarine;
    width: 100px;
    height: 140px;
    margin-left: 117px;
    margin-top: -137px;
}
#q{
    background-color:royalblue;
    width: 100px;
    height: 140px;
    margin-left: 337px;
    margin-top: -143px;
}
#r{
    background-color:hotpink;
    width: 100px;
    height: 140px;
    margin-left: 781px;
    margin-top: -143px;
}
#s{
    background-color:blanchedalmond;
    width: 100px;
    height: 140px;
    margin-left: 557px;
    margin-top: -138px;
}
#t{
    background-color:red;
    width: 100px;
    height: 140px;
    margin-left: 449px;
    margin-top: -138px;
}
#u{
    background-color:mediumpurple;
    width: 100px;
    height: 140px;
    margin-left: 669px;
    margin-top: -142px;
}

#v{
    background-color:maroon;
    width: 100px;
    height: 140px;
    margin-left: 668px;
    margin-top: -138px;
}





   













